.dropdown {
  display: flex;
  flex-direction: column;

  &__content {
    &--hidden {
      opacity: 0;
      visibility: hidden;
      height: 0;
      transition: $dropdown-effect-duration;
    }

    &--visible {
      opacity: 1;
      visibility: visible;
      height: auto;
      transition: $dropdown-effect-duration;
    }
  }

  &__arrow {
    transition: $effect-duration;

    &--active {
      transform: rotate(180deg);
    }
  }
}
