.profile-menu {
  width: 209px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @include on-tablet {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  &__h2 {
    display: none;
    @include h2-bold;

    @include on-tablet {
      display: block;
    }
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: $background-plate;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-stroke;
    }
  }

  &__name {
    display: flex;
    gap: 8px;
    color: $additional-greenas;
    @include main-text;
    align-items: center;
    cursor: pointer;

    &.isActive {
      color: $additional-freshherb-elect;
      @include button-semibold;
    }
  }

  &__svg {
    display: none;

    @include on-tablet {
      display: block;
    }
  }
}
