.profile-menu {
  width: 209px;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  background: $background-plate;

  @include on-tablet {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 16px;

    &:not(:last-child) {
      border-bottom: 1px solid $gray-stroke;
    }
  }

  &__name {
    display: flex;
    gap: 8px;
    color: $additional-greenas;
    @include main-text;
    align-items: center;
    cursor: pointer;

    &.isActive {
      color: $freshherb-elect;
      @include button-semibold;
    }
  }

  &__svg {
    color: red;
  }
}
