.items {
  // width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include on-tablet {
    grid-template-columns: repeat(3, 1fr);
  }

  @include on-phone {
    grid-template-columns: repeat(2, 1fr);
  }
}
