.page-base-navigation {
  box-shadow: $drop-shadow;
  border-radius: 12px;
  overflow: hidden;

  @include on-tablet {
    overflow: auto;

    min-width: 100vw;
    margin-left: -24px;
    border-radius: 0;
  }

  @include on-phone {
    margin-left: -16px;
  }

  & .simplebar-track {
    opacity: 0;
  }

  &__filters {
    display: flex;
    box-shadow: $drop-shadow;
    background: $background-page;
    justify-content: space-between;
    border-radius: 12px;

    @include on-tablet {
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__filter {
    width: 100%;
    background: $background-page;
    text-align: center;
    cursor: pointer;
    color: $additional-greenas;
    padding-block: 16px;
    border-bottom: 1px solid $gray-white-darks;
    transition: all ease $effect-duration;
    @include main-text;

    &:hover {
      @include button-bold;
      color: $additional-greenas;
    }

    @include on-tablet {
      &:hover {
        @include main-text;
      }
      padding-block: 9px;
      min-width: 165.6px;
      background: none;
    }

    &:first-child {
      border-bottom-left-radius: 12px;
      border-top-left-radius: 12px;
      @include on-tablet {
        border-radius: 0;
      }
    }
    &:last-child {
      border-bottom-right-radius: 12px;
      border-top-right-radius: 12px;
      @include on-tablet {
        border-radius: 0;
      }
    }

    &:not(:first-child) {
      border-left: 1px solid $gray-stroke;

      @include on-tablet {
        border-left: none;
      }
    }

    &.isActive {
      @include button-semibold;
      color: $additional-freshherb-elect;
      position: relative;
      border-bottom: none;

      &:first-child::before {
        border-bottom-left-radius: 12px;
        @include on-tablet {
          border-radius: 0;
        }
      }
      &:last-child::before {
        border-bottom-right-radius: 12px;
        @include on-tablet {
          border-radius: 0;
        }
      }

      &::before {
        content: '';
        position: absolute;
        inset: 0;

        padding-bottom: 1px;
        -webkit-mask:
          linear-gradient(white 0 0) content-box,
          linear-gradient(white 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        background: $primary;
      }
    }
  }
}
