.market {
  align-self: center;
  max-width: 1360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-block: 32px;

  @include on-tablet {
    margin-block: 24px;
  }

  &__navigation {
    display: flex;
  }

  &__navigation {
    .market__searchlink:last-child {
      .market__searchlink-arrow {
        display: none;
      }
    }
  }

  &__searchlink {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    color: $gray-dis;
    @include tab-regular;
    box-sizing: content-box;

    &:last-child {
      color: $gray-black;
    }

    &:hover:not(:last-child) {
      color: $additional-freshherb-elect;
    }
  }

  &__searchlink-arrow {
    transform: rotate(-90deg);
  }

  &__main {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include on-tablet {
      display: none;
    }
  }

  &__top-bar {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &-top {
      display: flex;
      width: 100%;
      align-items: center;
    }
  }

  &__h2 {
    @include h2-bold;
  }

  &__gray-word {
    color: $gray-darks;
    @include h3-bold;

    @include on-tablet {
      @include h4-bold;
    }
  }

  &__settings-catalog {
    display: flex;
    gap: 20px;

    @include on-tablet {
      flex-direction: column;
    }
  }

  &__settings {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
}

.market-mob {
  &__main {
    display: none;

    @include on-tablet {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include on-phone {
        gap: 24px;
      }
    }
  }

  &__top-bar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__h2 {
    @include h2-bold;
  }

  &__settings {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: stretch;
  }
}

.cart-button {
  display: flex;
  justify-self: flex-end;
  margin: 0 0 auto auto;
  gap: 8px;
  justify-content: space-between;
  width: min-content !important;
  padding: 16px;

  @include primary-button;

  cursor: pointer;
}
