.expertise {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 24px;
  }

  &__title {
    display: flex;
    gap: 8px;
    align-items: center;
    position: relative;
  }

  &__header {
    @include h1-bold;

    @include on-tablet {
      @include h2-bold;
    }

    @include on-phone {
      @include h2-mobile-bold;
    }
  }

  &__icon {
    height: 34px;
    padding-top: 10px;
    width: 24px;
    flex-shrink: 0;
    cursor: pointer;
    color: $system-info;
    transition: all ease $effect-duration;

    &:hover {
      color: $additional-freshherb-elect;
    }
  }
}
