.exhibition {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  @include on-tablet {
    flex-direction: column;
  }

  &__crumbs {
    margin-bottom: 24px;
  }

  &__details {
    display: flex;
    width: 210px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 12px;
    background: $background-plate;

    /* Double glass */
    box-shadow:
      0 -4px 16px 0 rgba(255, 255, 255, 0),
      0 4px 16px -6px rgba(255, 255, 255, 0),
      0 8px 32px -4px rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);

    @include on-tablet {
      width: 100%;

      &--inactive {
        gap: 0;
      }
    }

    &-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: $gray-black;

      &--active {
        color: $additional-freshherb-elect;
      }
    }

    &-title {
      color: $gray-black;

      @include h4-bold;

      @include on-tablet {
        color: inherit;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;

      border-radius: 12px;

      @include on-tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        align-self: stretch;
      }
    }

    &-label {
      color: $additional-black-green;

      @include label-bold;

      @include on-phone {
        width: 123px;
      }
    }

    &-value {
      display: flex;
      padding: 4px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      color: $gray-dark;

      @include main-text;

      @include on-tablet {
        flex: 1 0 0;
      }
    }
  }

  &__content {
    display: flex;
    width: 900px;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    border-radius: 24px;
    background: $background-page;

    /* Floating card Double shadow */
    box-shadow:
      0 8px 20px 2px rgba(170, 182, 178, 0.2),
      0 -4px 12px 0 rgba(255, 255, 255, 0) inset;
    backdrop-filter: blur(12px);

    @include on-tablet {
      width: 100%;
      padding: 24px;
    }

    @include on-phone {
      padding: 16px;
    }

    &-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;

      overflow: hidden;
      color: $additional-black-green;
      text-overflow: ellipsis;

      @include h2-bold;

      @include on-phone {
        @include h2-mobile-bold;
      }
    }

    &-img {
      display: flex;
      height: 362px;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      object-fit: cover;

      border-radius: 12px;

      @include on-tablet {
        height: 398px;
      }

      @include on-phone {
        height: 222px;
      }
    }

    &-articles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
    }

    &-article {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &-title {
        color: $additional-black-green;

        @include h4-bold;
      }

      &-list {
        list-style: disc;
        list-style-position: inside;
      }

      &-text {
        color: $gray-dark;

        @include main-text;

        &--bold {
          font-weight: 700;
        }
      }
    }
  }

  &__additional {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 210px;

    @include on-tablet {
      width: 100%;
    }
  }

  &__sm {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 12px;
    background: $background-plate;

    /* Double glass */
    box-shadow:
      0 -4px 16px 0 rgba(255, 255, 255, 0),
      0 4px 16px -6px rgba(255, 255, 255, 0),
      0 8px 32px -4px rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);

    &-icon {
      color: $additional-black-green;

      @include icon-hover;
    }
  }
}
