.exp-club {
  position: fixed;
  left: 0;
  @include use-header-height(top);
  display: flex;
  height: 0;
  width: 100%;
  padding: 8px 40px 16px 40px;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  border-radius: 0px 0px 12px 12px;
  background: $additional-black-green;
  transition: $effect-duration;
  z-index: 1;
  opacity: 0;
  visibility: hidden;

  &-visible {
    height: 176px;
    opacity: 1;
    visibility: visible;
  }

  &__buttons {
    display: flex;
    width: 188px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    position: absolute;
    right: 46vw;
    top: 0;

    padding: 8px;
    border-radius: 12px;
    border: 1px solid $gray-dark;

    @media (min-width: 1800px) {
      right: 47vw;
    }
    @media (min-width: 2400px) {
      right: 47.5vw;
    }
    @media (min-width: 3400px) {
      right: 48vw;
    }

    &--not-auth {
      right: 56vw;

      @media (min-width: 1500px) {
        right: 55vw;
      }

      @media (min-width: 1900px) {
        right: 54.5vw;
      }

      @media (min-width: 2000px) {
        right: 54vw;
      }

      @media (min-width: 2400px) {
        right: 53.5vw;
      }

      @media (min-width: 2600px) {
        right: 53vw;
      }

      @media (min-width: 3000px) {
        right: 53vw;
      }
    }
  }

  &__button {
    @include header-option-button;

    @include main-text;
  }
}
