@import 'variables';

// #region media

@mixin on-small-laptop {
  @media (max-width: $small-laptop-max-width) {
    @content;
  }
}

@mixin on-tablet {
  @media (max-width: $tablet-max-width) {
    @content;
  }
}

@mixin on-phone {
  @media (max-width: $phone-max-width) {
    @content;
  }
}

// #endregion

// #region hover&active-effects
@mixin hover($_property, $_toValue) {
  transition: $effect-duration;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin block-hover {
  border: 2px solid rgba($color: $additional-mint, $alpha: 0);

  @include hover(border, 2px solid $additional-mint);

  &:active {
    border-color: #0d392c;
  }
}

@mixin icon-hover {
  @include hover(color, $additional-mint);

  &:active {
    color: $additional-freshherb-elect;
  }
}
// #endregion

// #region sizing
@mixin standard-inline-paddings() {
  padding-inline: 40px;

  @include on-tablet {
    padding-inline: 24px;
  }

  @include on-phone {
    padding-inline: 16px;
  }
}

@mixin use-header-height($_property, $_addValue: 0, $_addValue2: 0) {
  #{$_property}: #{$desktop-header-height + $_addValue};

  @include on-tablet {
    #{$_property}: #{$tablet-header-height + $_addValue2};
  }
}
// #endregion

// #region fonts

@mixin h1-bold {
  font-size: 48px;
  font-weight: 700;
  line-height: 120%;
}

@mixin h2-bold {
  font-size: 36px;
  font-weight: 700;
  line-height: 120%;
}

@mixin h3-bold {
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
}

@mixin h4-bold {
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
}

@mixin main-text {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
}

@mixin button-semibold {
  font-size: 16px;
  font-weight: 800;
  line-height: 160%;
}

@mixin button-bold {
  font-size: 16px;
  font-weight: 800;
  line-height: 160%;
}

@mixin tab-regular {
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
}

@mixin label-bold {
  font-size: 14px;
  font-weight: 700;
  line-height: 160%;
}

@mixin h2-mobile-bold {
  font-size: 32px;
  font-weight: 700;
  line-height: 120%;
}

// #endregion

// #region buttons

@mixin header-option-button {
  display: flex;
  height: 40px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  align-self: stretch;

  color: $gray-white;
  text-align: center;

  border-radius: 12px;
  background: $background-strouke-plate;
  box-shadow: 0px 0px 8px 0px rgba(236, 255, 252, 0);
  backdrop-filter: blur(25px);

  @include hover(background-color, $additional-white-green);
  @include hover(color, $additional-black-green);

  &:active {
    background-color: $additional-fresh-herb-icon;
    color: $gray-white;
  }

  @include on-tablet {
    &:hover {
      background-color: $additional-fresh-herb-icon;
      color: $gray-white;
    }
  }
}

@mixin primary-button {
  color: $gray-white;
  transition: all ease $effect-duration;
  position: relative;
  z-index: 1;
  border-radius: 12px;
  overflow: hidden;
  width: 100%;

  &:disabled {
    background: $gray-lite;
    cursor: initial;
  }

  &:hover {
    color: $gray-black;
  }
  &:disabled:hover {
    color: $gray-white;
  }
  &::before,
  &::after {
    transition: inherit;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  &::before {
    background: $primary;
  }

  &::after {
    background: $additional-mint;
    opacity: 0;
  }

  &:hover::before {
    opacity: 0;
  }

  &:hover::after {
    opacity: 1;
  }

  &:disabled::before,
  &:disabled::after {
    opacity: 0;
  }
}

@mixin additional-button {
  z-index: 1;
  position: relative;
  color: $additional-black-green;

  &::before,
  &::after {
    transition: all ease $effect-duration;
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 12px;
  }

  &::before {
    padding: 1px;
    -webkit-mask:
      linear-gradient(white 0 0) content-box,
      linear-gradient(white 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    background: $primary;
  }

  &:hover::before {
    opacity: 0;
  }

  &::after {
    opacity: 0;
    border: 1px solid $additional-mint;
    background: $additional-white-green;
    z-index: -1;
  }

  &:hover::after {
    opacity: 1;
  }
}

@mixin input-style {
  padding: 16px;
  border-radius: 12px;
  border: $gray-stroke 1px solid;
  @include main-text;
  outline: none;
  color: $additional-black-green;
  background: $gray-white;

  &::placeholder {
    color: $gray-lite;
  }

  &:hover {
    background: $additional-white-green;
    border-color: $additional-mint;
  }
  &:focus {
    border-color: $additional-fresh-herb-icon;
    // background: inherit;
  }
}
// #endregion

// #region styles
@mixin backdropStyle {
  visibility: inherit;
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $background-sklo-bag;
  top: 0;
  left: 0;
}
// #endregion

// #region icons

@mixin previous-arrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-image: url('/images/header/arrow-back.svg');
  cursor: pointer;

  transition: $effect-duration;

  &:hover {
    background-image: url('/images/header/arrow-back-hover.svg');

    @include on-tablet {
      background-image: url('/images/header/arrow-back-active.svg');
    }
  }

  &:active {
    background-image: url('/images/header/arrow-back-active.svg');
  }

  &--dis {
    background-image: url('/images/header/arrow-back-dis.svg');

    &:hover {
      background-image: url('/images/header/arrow-back-dis.svg');
    }

    &:active {
      background-image: url('/images/header/arrow-back-dis.svg');
    }
  }
}

@mixin next-arrow {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  background-image: url('/images/header/arrow-forward.svg');
  cursor: pointer;

  transition: $effect-duration;

  &:hover {
    background-image: url('/images/header/arrow-forward-hover.svg');
  }

  &:active {
    background-image: url('/images/header/arrow-forward-active.svg');
  }

  &--dis {
    background-image: url('/images/header/arrow-forward-dis.svg');

    &:hover {
      background-image: url('/images/header/arrow-forward-dis.svg');

      @include on-tablet {
        background-image: url('/images/header/arrow-forward-dis.svg');
      }
    }

    &:active {
      background-image: url('/images/header/arrow-forward-dis.svg');
    }
  }
}

// #endregion
