$desktop-header-height: 72px;
$tablet-header-height: 60px;

$small-laptop-max-width: 1919px;
$tablet-max-width: 1439px;
$phone-max-width: 639px;
$effect-duration: 0.3s;
$dropdown-effect-duration: 0.6s;

// #region colors

$primary: linear-gradient(94deg, #0d392c 24.5%, #40916c 73.5%, #95d5b2 98%);

$background-sklo-bag: rgba(85, 85, 85, 0.5);
$background-dis: rgba(113, 121, 119, 0.5);
$background-strouke-plate: linear-gradient(
  100deg,
  rgba(255, 255, 255, 0.19) 2.83%,
  rgba(134, 191, 174, 0.09) 96.35%
);
$background-plate-account-menu: linear-gradient(
  286deg,
  rgba(185, 202, 193, 0.5) 15.68%,
  rgba(211, 241, 226, 0.25) 82.46%
);
$background-plate: linear-gradient(
  281deg,
  rgba(210, 220, 216, 0.49) 5.9%,
  rgba(174, 199, 187, 0.21) 39.92%,
  rgba(218, 226, 223, 0.49) 94.14%
);
$background-plate-2: linear-gradient(
  286deg,
  rgba(198, 223, 211, 0.24) 15.68%,
  rgba(232, 245, 240, 0.8) 82.46%
);
$background-page: rgba(247, 255, 253, 0.9);

$background-back-dis: rgba(182, 184, 183, 0.5);
$background-strock-button-primery: rgba(207, 244, 232, 0.15);
$background-texts: linear-gradient(
  286deg,
  rgba(227, 241, 234, 0.13) 15.68%,
  rgba(231, 237, 235, 0.5) 82.46%
);
$background-important: linear-gradient(
  286deg,
  rgba(144, 190, 176, 0.4) 15.68%,
  rgba(211, 241, 226, 0.25) 82.46%
);
$background-selected-bright: linear-gradient(
  267deg,
  rgba(226, 247, 237, 0.63) 5.61%,
  rgba(240, 255, 248, 0.35) 26.78%,
  rgba(214, 242, 232, 0.63) 96.71%
);
$background-user-notifications: linear-gradient(
  95deg,
  rgba(230, 253, 245, 0.25) 1.57%,
  rgba(134, 191, 174, 0.13) 96.4%
);

$additional-black-green: #081c15;
$additional-greenas: #1b4332;
$additional-fresh-herb-icon: #40916c;
$additional-freshherb-elect: #388964;
$additional-open-green: #00a85b;
$additional-mint: #95d5b2;
$additional-white-green: #dcfee1;
$additional-gold: linear-gradient(
  225deg,
  #e5a000 0%,
  #fa0 9.83%,
  #ffcf00 47.83%,
  #ffd300 62.33%,
  #fff6c5 100%
);
$additional-gradient: radial-gradient(
  33.74% 44.2% at 51.77% 49.95%,
  rgba(19, 86, 66, 0.72) 6.67%,
  rgba(64, 145, 108, 0.64) 26%,
  rgba(149, 213, 178, 0.32) 66%,
  rgba(255, 255, 255, 0.08) 98.67%
);

$user-notifications-gradient: linear-gradient(
  90deg,
  rgba(230, 253, 245, 0.25) 0%,
  rgba(134, 191, 174, 0.125) 100%
);

$gray-black: #061814;
$gray-dark: #34403e;
$gray-darks: #646464;
$gray-dis: #717977;
$gray-lite: #869693;
$gray: #adbdba;
$gray-stroke: #cbdbd9;
$gray-white-darks: #dee6e5;
$gray-white: #f7fffd;
$additional-gray-gray: #b9ccc9;
$stroke-button-primary: rgba(207, 244, 232, 0.15);
$selected-bright: linear-gradient(
  90deg,
  rgba(226, 247, 237, 0.63) 3%,
  rgba(240, 255, 248, 0.35) 25%,
  rgba(214, 242, 232, 0.63) 100%
);

$system-error: #f40000;
$system-info: #034bf5;
$system-warning: #dfbe19;
$system-confirmation: #079d5c;

// #endregion

$drop-shadow:
  0px 8px 20px 2px rgba(170, 182, 178, 0.2),
  0px -4px 12px 0px rgba(255, 255, 255, 0) inset;
