$tablet-min-width: 640px;
$small-desktop-min-width: 1024px;
$desktop-min-width: 1600px;
$effectDuration: 0.3s;
$bg-color: #fff;
$header-bg-color: #c3c3c3;
$sections-bg-main-color: #d9d9d9;
$sections-bg-minor-color: #f2f2f2;
$dark-text-color: #000;
