@import 'reset';
@import 'mixins';
@import 'variables';
@import 'fonts';

@import '../components/Sliders/Sliders';
@import '../components/Navigation/Navigation';
@import '../components/Header/Header';
@import '../components/Footer/Footer';
@import '../components/Hero/Hero';
@import '../pages/ExpertisePage/ExpertisePage';
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import '../components/Auth/Auth';
@import '../components/Settings/Settings';
@import '../components//Catalog/Catalog.scss';
@import '../components/Settings/Filters/Filters.scss';
@import '../components/Settings/Filters/Filter/Filter.scss';
@import '../components/Settings/Filters/Filter/FilterItem/FilterItem.scss';
@import '../pages/MarketPage/MarketPage.scss';
@import '../components/MarketForm/MarketForm.scss';
@import '../components/Settings/Sorting/Sorting.scss';
@import '../components/Categories/Categories.scss';
html * {
  box-sizing: border-box;
  font-family: Mulish, sans-serif;
}

.page {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: #000;
  scroll-behavior: smooth;

  &__header {
    margin-bottom: 24px;
  }
}

.main {
  @include standard-inline-paddings;

  padding-top: $header-height;

  background-image: url('/images/Gradient\ top.png');
  background-position: center;
}

button {
  cursor: pointer;
}
