.simplebar-track {
  width: 24px !important;
  opacity: 1;
  background-image: linear-gradient(
    286deg,
    rgba(198, 223, 211, 0.24) 15.68%,
    rgba(232, 245, 240, 0.8) 82.46%
  );
  border-inline: 1px solid #cbdbd9;
}

/* Ширина самого ползунка */
.simplebar-scrollbar {
  width: 8px !important;
  left: 5px !important; /* Чтобы ползунок был по центру трека */
}

/* Ползунок (скроллбар) */
.simplebar-scrollbar::before {
  min-height: 50px;
  width: 8px !important;
  background: #b9ccc9 !important; /* Цвет ползунка */
  border-radius: 4px !important;
}

.simplebar-mask {
  border-radius: inherit !important;
}

/* Трек (фон скроллбара) */
.simplebar-track {
  border-radius: inherit !important;
  overflow: hidden !important; /* Чтобы края скролла тоже обрезались */
}
