.nav {
  &__list {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__item {
    width: fit-content;
  }

  &__link {
    display: block;
    display: flex;
    height: 40px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    border-radius: 12px;
    background: #f2f2f2;
    color: #101010;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include hover(background-color, #ccc);

    &--is-active {
      background-color: $header-bg-color;
    }
  }
}
