.nav {
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
    @include use-header-height(height);
  }

  &__item {
    width: fit-content;
  }

  &__club {
    &-big-button {
      display: flex;
      align-items: center;
      @include use-header-height(height);
    }

    &-wrapper {
      position: relative;
      display: flex;
      height: 40px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      border-radius: 12px;

      &--active {
        border-bottom: 1px solid $gray-dark;

        &::after {
          content: '';
          position: absolute;
          background-color: $gray-dark;
          height: 17px;
          width: 1px;
          top: 40px;
        }
      }
    }

    &-button {
      color: $gray-white;
      transition: $effect-duration;
      width: 24px;
      height: 24px;

      &--active {
        color: $additional-mint;
      }
    }
  }

  &__link {
    display: flex;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    flex: 1 0 0;
    transition: $effect-duration;

    @include main-text;

    color: $gray-white;
    text-align: center;

    @include hover(color, $additional-mint);

    &--is-active {
      color: $additional-fresh-herb-icon;

      @include button-bold;
    }
  }

  &--header {
    @include on-tablet {
      display: none;
    }
  }

  &--menu {
    width: 100%;
    &__list {
      flex-direction: column;
      height: auto;
      gap: 24px;
      align-items: flex-start;
    }

    &__item {
      width: 100%;
    }

    &__link {
      justify-content: left;

      padding-left: 16px;
    }

    &__club {
      &-wrapper {
        padding: 0;
      }
    }
  }
}
