.profile-page {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;

  @include on-tablet {
    margin-bottom: 24px;
  }

  @include on-phone {
    margin-bottom: 16px;
  }

  &__h2 {
    @include h1-bold;
    color: $gray-black;

    @include on-tablet {
      display: none;
    }
  }

  &__wrapper {
    display: flex;
    gap: 16px;
    align-items: flex-start;
    position: relative;

    &.isActive {
      height: 100%;
    }

    & > *:last-child {
      @include on-tablet {
        transform: translate(100%);
        opacity: 0;
        transition: all ease $effect-duration;
      }
    }

    &.nonActiveMenu > *:last-child {
      @include on-tablet {
        transform: translate(0);
        opacity: 1;
        z-index: 1;
      }
    }
    & > *:first-child {
      @include on-tablet {
        transition: all ease $effect-duration;
      }
    }

    &.nonActiveMenu > *:first-child {
      @include on-tablet {
        opacity: 0;
      }
    }
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    background: $stroke-button-primary;
    width: 100%;
    border-radius: 12px;

    @include on-tablet {
      background: none;
      padding: 0;
    }
  }

  &__section-title {
    display: flex;
    gap: 8px;
    align-items: center;

    &.onDescktop {
      @include on-tablet {
        display: none;
      }
    }

    &.ontablet-mob {
      display: none;
      @include on-tablet {
        display: flex;
      }
    }
  }

  &__section-arrow {
    display: none;
    transform: rotate(180deg);
    cursor: pointer;

    @include on-tablet {
      display: block;
    }
  }

  &__section-h2 {
    @include h2-bold;

    @include on-tablet {
      @include h2-mobile-bold;
    }

    @include on-phone {
      @include h3-bold;
    }
  }
}
