.exp-questions {
  position: fixed;
  left: 0;
  @include use-header-height(top);
  display: flex;
  height: 0;
  width: 100%;
  padding: 0 40px 32px 40px;
  justify-content: flex-end;
  gap: 8px;
  border-radius: 0px 0px 12px 12px;
  background: $additional-black-green;
  transition: $effect-duration;
  z-index: 1;
  opacity: 0;
  visibility: hidden;

  &--not-auth {
    padding-right: 220px;
  }

  &-visible {
    height: 280px;
    opacity: 1;
    visibility: visible;
  }

  &__buttons {
    display: flex;
    width: 399px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;

    padding: 8px;
    border-radius: 12px;
    border: 1px solid $gray-dark;
  }

  &__button {
    @include header-option-button;

    @include main-text;
  }
}
