.nav-sort-serach {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__search-sorting {
    box-sizing: border-box;
    display: flex;
    gap: 16px;

    &.isActive {
      gap: 0;
    }
  }

  &__search {
    background: $gray-white;
    border: 1px solid $gray-stroke;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    gap: 8px;
    flex-grow: 4;
    overflow: hidden;

    &.isActive {
      padding-block: 15px;
      color: $gray-black;
      border: 2px $additional-freshherb-elect solid;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0;
    }
  }

  &__search-button {
    box-sizing: border-box;
    display: none;
    padding: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-block: 16px;
    background: $primary;
    width: 25%;
    color: $gray-white;

    &.isActive {
      display: block;
    }
  }

  &__search-svg {
    color: $additional-gray-gray;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: $additional-gray-gray;
    }
  }

  &__sorting {
    display: none;
    position: relative;
    max-width: 208px;

    &.isActive {
      display: block;
    }

    @include on-tablet {
      flex-grow: 2;
    }

    @include on-phone {
      flex-grow: 0;
    }
  }
}
