.nav-sort-serach {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__search-sorting {
    box-sizing: border-box;
    display: flex;
    gap: 16px;

    @include on-phone {
      gap: 8px;
    }

    &.isActive {
      // gap: 0;
    }
  }

  &__input-button {
    display: flex;
    width: 100%;
  }

  &__search {
    background: $gray-white;
    border: 2px solid transparent;
    outline: 1px solid $gray-stroke;
    border-radius: 12px;
    padding: 15px;
    display: flex;
    gap: 8px;
    flex-grow: 4;
    overflow: hidden;
    align-items: center;
    transition: border ease $dropdown-effect-duration;

    &.isActive {
      outline: none;
      color: $gray-black;
      border: 2px $additional-freshherb-elect solid;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      border-right: 0;
    }
  }

  &__search-button {
    box-sizing: border-box;
    display: none;
    padding: 16px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    padding-block: 16px;
    background: $primary;
    color: $gray-white;
    @include button-bold;

    &.isActive {
      display: block;
    }
  }

  &__decline {
    padding: 8px;
    align-self: center;
    color: $additional-greenas;
    transition: all ease $effect-duration;
    @include label-bold;
    @include on-phone {
      display: none;
    }
    &:hover {
      color: $additional-freshherb-elect;
    }
  }

  &__arrow-wrapper {
    transition: all ease $effect-duration;
    padding: 8px;
    display: none;
    color: $gray-black;
    cursor: pointer;
    transform: rotate(180deg);
    align-self: center;
    @include on-phone {
      display: block;
    }

    &:hover {
      color: $additional-freshherb-elect;
    }
  }

  &__search-svg {
    color: $additional-gray-gray;
  }

  &__input {
    border: none;
    outline: none;
    width: 100%;
    @include main-text;

    &:focus {
      border: none;
      outline: none;
    }

    &::placeholder {
      color: $additional-gray-gray;
    }
  }

  &__sorting {
    display: none;
    max-width: 208px;
    height: 100%;

    &.isActive {
      display: block;
    }

    @include on-tablet {
      flex-grow: 2;
    }

    @include on-phone {
      flex-grow: 0;
    }
  }
}
