.profile-discussions {
  display: flex;
  gap: 16px;
  width: 100%;
  align-items: baseline;

  &__create-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    width: 219px;
    background: $background-plate;
    border-radius: 12px;
    padding: 16px;

    @include on-tablet {
      display: none;
    }
  }

  &__create-new-text {
    text-align: center;
    @include main-text;
    color: $additional-black-green;
  }

  &__create-new-icon {
    color: $system-info;

    cursor: pointer;
  }

  &__create-new-button {
    @include primary-button;
    color: $gray-white;
    padding-block: 9px;
    width: 100%;
  }

  &__create-new-fixed-button {
    @include primary-button;
    display: none;
    width: 56px;
    height: 56px;
    position: fixed;
    right: 0;
    top: 60vh;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      display: flex;
    }
  }

  &__add-new-visibility {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
}
