@import './Expanded/ExpClub/ExpClub';
@import './Expanded/ExpQuestions/ExpQuestions';
@import './Expanded/ExpLanguage/ExpLanguage';
@import './Expanded/ExpCurrency/ExpCurrency';
@import './Expanded/ExpAccount/ExpAccount';

.header {
  height: $header-height;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  transition: $effect-duration;

  border-radius: 0 0 12px 12px;
  background-color: $additional-black-green;

  &--expanded {
    background-color: $background-menu;
    backdrop-filter: blur(15px);
    border-radius: 0;
  }

  &__container {
    @include standard-inline-paddings;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    gap: 24px;
  }

  &__logo {
    font-family: Michroma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(
      225deg,
      #e5a000 0%,
      #fa0 9.83%,
      #ffcf00 47.83%,
      #ffd300 62.33%,
      #fff6c5 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include hover(transform, scale(1.05));
  }

  &__search {
    display: flex;
    height: 40px;
    align-items: center;
    gap: 8px;
    flex-grow: 1;

    &-bar {
      position: relative;
      display: flex;
      height: 40px;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      border-radius: 12px;
      background-color: $gray-white;
      transition: 0.3s;

      &::before {
        position: absolute;
        content: '';
        background-image: url('/images/header/search-rounded.svg');
        height: 24px;
        width: 24px;
        left: 16px;
      }

      &:hover {
        box-shadow: 0 4px 4px 0 #00000040;
      }

      &:focus-within {
        box-shadow: 0 4px 4px 0 #00000040;
      }
    }

    &-input {
      flex-grow: 1;
      padding: 7px 0px 7px 48px;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      background: none;

      @include main-text;

      &::placeholder {
        color: $gray-dark;
      }
    }

    &-button {
      display: flex;
      width: 106px;
      height: 40px;
      padding: 16px;
      justify-content: center;
      align-items: center;
      gap: 4px;
      border-radius: 0px 12px 12px 0px;
      background: $primary;

      @include button-semibold;

      color: $background-page;

      &:hover {
        background-color: #444;
      }

      &:active {
        background-color: #333;
      }
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;

    &-item {
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &-wrapper {
        display: flex;
        height: $header-height;
        align-items: center;
        justify-content: center;
        width: 40px;
      }

      &-language {
        &--inactive {
          background-image: url('/images/header/language.svg');
        }
        &--active {
          background-image: url('/images/header/language-active.svg');
        }
      }

      &-currency {
        &--inactive {
          background-image: url('/images/header/Currency.svg');
        }
        &--active {
          background-image: url('/images/header/Currency-active.svg');
        }
      }

      &-questions {
        &--inactive {
          background-image: url('/images/header/question-inactive.svg');
        }

        &--active {
          background-image: url('/images/header/question-active.svg');
        }
      }

      &-account {
        &--inactive {
          background-image: url('/images/header/account.svg');
        }
        &--active {
          background-image: url('/images/header/account-active.svg');
        }
      }
    }
  }

  &__dropdown {
    &-questions {
      @include dropdown-content-animation;

      display: flex;
      height: 24px;
      width: 24px;

      &-content {
        display: inline-flex;
        height: 211px;
        width: max-content;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: 12px;
        background: #e7e7e7;
      }
    }

    &-question {
      display: flex;
      padding: 8px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      align-self: stretch;
      color: #000;

      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      background: #e7e7e7;
      border-radius: 9px;
      cursor: pointer;

      @include hover(background-color, #ccc);

      &:active {
        background-color: #ddd;
      }
    }

    &-currency {
      @include dropdown-content-animation;

      &-content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 8px;
        align-items: flex-start;
        gap: 5px;
        border-radius: 12px;
        border: 1px solid #d8d8d8;
        background: #f9f7f7;
      }

      &-button {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        cursor: pointer;
        background: #f9f7f7;

        @include hover(background-color, #ddd);
      }
    }

    &-user {
      @include dropdown-content-animation;

      &-content {
        display: flex;
        width: max-content;
        padding: 8px;
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        border-radius: 12px;
        border: 1px solid #d8d8d8;
        background: #f9f7f7;
      }

      &-button {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        align-self: stretch;
        background: #f9f7f7;
        border-radius: 9px;
        cursor: pointer;
        color: #000;

        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include hover(background-color, #ddd);
      }
    }
  }
}
