@import './Expanded/ExpClub/ExpClub';
@import './Expanded/ExpQuestions/ExpQuestions';
@import './Expanded/ExpCurrency/ExpCurrency';
@import './Expanded/ExpAccount/ExpAccount';

.header {
  height: $header-height;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  transition: $effect-duration;

  border-radius: 0 0 12px 12px;
  background-color: $additional-black-green;

  &--expanded {
    border-radius: 0;
  }

  @include on-tablet {
    display: flex;
    align-items: center;
    width: 100vw;
  }

  &__container {
    width: 100%;
    padding-left: 40px;
    padding-right: 32px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    align-self: stretch;
    gap: 24px;

    @include on-tablet {
      @include standard-inline-paddings;
    }
  }

  &__logo {
    display: flex;
    width: 179px;
    height: 39px;
    align-items: center;
    gap: 8px;

    @include hover(transform, scale(1.05));

    &-title {
      font-family: Michroma, sans-serif;
      font-weight: 400;

      &-main {
        font-size: 24px;
        line-height: 120%;
        background: $additional-gold;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }

      &-minor {
        font-size: 12px;
        line-height: 100%;
        color: $system-warning;
      }
    }
  }

  &__nav {
    @include on-tablet {
      display: none;
    }
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;

    @include on-tablet {
      justify-self: flex-end;
    }

    &-languages {
      display: flex;

      margin-right: 16px;
      width: 82px;
      height: 26px;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      background: $background-strouke-plate;

      @include on-tablet {
        display: none;
      }
    }

    &-language {
      display: flex;
      padding: 0px 8px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 12px;
      text-align: center;

      @include button-semibold;

      &--active {
        color: $additional-white-green;
      }

      &--inactive {
        color: $gray-lite;
      }
    }

    &-item {
      display: block;
      width: 24px;
      height: 24px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &-wrapper {
        display: flex;
        height: $header-height;
        align-items: center;
        justify-content: center;
        width: 40px;

        @include on-tablet {
          display: none;
        }
      }

      &-search {
        margin-right: 8px;
        &--inactive {
          background-image: url('/images/header/search-inactive.svg');
        }
        &--active {
          background-image: url('/images/header/search-rounded.svg');
        }

        @include on-tablet {
          margin-right: 16px;
        }
      }

      &-currency {
        &--inactive {
          background-image: url('/images/header/Currency.svg');

          &:hover {
            background-image: url('/images/header/Currency-active.svg');
          }
        }
        &--active {
          position: relative;
          background-image: url('/images/header/Currency-active.svg');

          &::after {
            content: '';
            position: absolute;
            background-color: $additional-white-green;
            height: 24px;
            width: 1px;
            top: 24px;
          }
        }
      }

      &-questions {
        &--inactive {
          background-image: url('/images/header/question-inactive.svg');
        }

        &--active {
          position: relative;
          background-image: url('/images/header/question-active.svg');

          &::after {
            content: '';
            position: absolute;
            background-color: $additional-white-green;
            height: 24px;
            width: 1px;
            top: 24px;
          }
        }
      }

      &-account {
        &--inactive {
          background-image: url('/images/header/account.svg');
        }
        &--active {
          position: relative;
          background-image: url('/images/header/account-active.svg');

          &::after {
            position: absolute;
            content: '';
            position: absolute;
            background-color: $additional-white-green;
            height: 24px;
            width: 1px;
            top: 24px;
          }
        }
      }

      &-menu {
        display: none;

        @include on-tablet {
          display: block;
          background-image: url('/images/header/menu-rounded.svg');
        }
      }
    }
  }
}
