.sortingitem {
  display: flex;
  flex-direction: column;
  background-color: $gray-white;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px;
  }

  &__link {
  }

  &__arrow {
    color: gray;
    transition: all ease 0.3s;

    &:hover {
      color: black;
    }

    &.isActive-arrow {
      transform: rotate(180deg);
    }
  }

  &__container {
    overflow: hidden;
    transition: all 0.3s ease;
    position: relative;
  }

  &__items {
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    opacity: 0;

    &.isActive {
      opacity: 1;
    }
  }

  &__item {
    background-color: wheat;
    padding: 16px;
    border-top: 1px gray solid;
  }
}
