.filter {
  display: flex;
  flex-direction: column;
  border-top: 1px $gray-stroke solid;
  box-sizing: border-box;

  &__title {
    color: $gray-dark;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    margin: 16px;
    @include main-text;
    cursor: pointer;

    &.isActive {
      color: $additional-fresh-herb-icon;
      @include button-semibold;
    }
  }

  &__arrow {
    transition: all ease $effect-duration;

    &.isActive {
      color: $additional-fresh-herb-icon;
      transform: rotate(180deg);
    }
  }

  &__container {
    overflow: hidden;
    transition: all $effect-duration ease;
    position: relative;
  }

  &__sub-options {
    z-index: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    transition: all ease $effect-duration;
    width: 100%;

    &.isActive {
      opacity: 1;
    }
  }

  &__simplebar-box {
    background-color: $gray-white;

    &.simplebarPadding {
      padding-right: 24px;
    }
  }
}
