.discussions {
  display: flex;
  margin-bottom: 24px;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;

  max-width: 1360px;
  width: 100%;
  align-self: center;

  @include on-tablet {
    flex-direction: column;
  }

  &__title {
    color: $gray-black;

    @include h1-bold;

    @include on-tablet {
      @include h2-bold;
    }

    @include on-phone {
      @include h2-mobile-bold;
    }

    &--no-content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    margin-bottom: 24px;

    max-width: 1360px;
    width: 100%;
    align-self: center;

    @include on-tablet {
      margin-bottom: 16px;
    }
  }

  &__details {
    display: flex;
    width: 210px;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    border-radius: 12px;
    background: $background-plate;

    /* Double glass */
    box-shadow:
      0 -4px 16px 0 rgba(255, 255, 255, 0),
      0 4px 16px -6px rgba(255, 255, 255, 0),
      0 8px 32px -4px rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);

    @include on-tablet {
      width: 100%;
      gap: 8px;

      &--inactive {
        gap: 0;
      }
    }

    &-tag {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 1;

      padding: 4px 8px;
      border-radius: 8px;
      background: $additional-white-green;

      overflow: hidden;
      max-width: 100%;
      color: $gray-black;
      text-overflow: ellipsis;

      @include tab-regular;

      cursor: pointer;

      @include on-tablet {
        display: flex;
        display: flex;
        padding: 4px 8px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        max-width: none;

        flex: 1 0 auto;
        align-self: stretch;
      }

      &--active {
        display: flex;
        align-items: center;
        justify-content: center;

        border: 2px solid $additional-freshherb-elect;

        @include on-tablet {
          justify-content: space-evenly;
        }
      }
    }

    &-close {
      width: 24px;
      height: 24px;
    }

    &-button {
      display: flex;
      justify-content: space-between;
      width: 100%;
      color: $gray-black;

      &--active {
        color: $additional-freshherb-elect;
      }
    }

    &-title {
      color: $gray-black;

      @include h4-bold;

      @include on-tablet {
        color: inherit;
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;

      @include on-tablet {
        flex-direction: row;
        overflow-x: auto;

        &::-webkit-scrollbar {
          display: none;
        }
      }
    }

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 4px;
      align-self: stretch;

      border-radius: 12px;

      @include on-tablet {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 4px;
        align-self: stretch;
      }
    }

    &-label {
      color: $additional-black-green;

      @include label-bold;

      @include on-phone {
        width: 123px;
      }
    }

    &-value {
      display: flex;
      padding: 4px 8px;
      align-items: center;
      gap: 8px;
      align-self: stretch;

      color: $gray-dark;

      @include main-text;

      @include on-tablet {
        flex: 1 0 0;
      }
    }
  }

  &__content {
    display: flex;
    width: 900px;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @include on-tablet {
      width: 100%;
    }

    &-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;

      overflow: hidden;
      color: $additional-black-green;
      text-overflow: ellipsis;

      @include h2-bold;

      @include on-phone {
        @include h2-mobile-bold;
      }
    }

    &-img {
      display: flex;
      height: 362px;
      width: 100%;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
      object-fit: cover;

      border-radius: 12px;

      @include on-tablet {
        height: 398px;
      }

      @include on-phone {
        height: 222px;
      }

      &-wrapper {
        position: relative;
        width: 100%;
        cursor: zoom-in;
      }

      &-icon {
        position: absolute;
        top: 24px;
        right: 24px;

        display: flex;
        padding: 8px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 8px;

        height: 40px;
        width: 40px;

        border-radius: 8px;
        background: $background-plate;
        backdrop-filter: blur(5px);

        @include on-tablet {
          top: 16px;
          right: 16px;
        }

        @include on-phone {
          top: 8px;
          right: 8px;
        }
      }
    }

    &-articles {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      align-self: stretch;
    }

    &-article {
      display: flex;
      flex-direction: column;
      gap: 40px;

      &-title {
        color: $additional-black-green;

        @include h4-bold;
      }

      &-list {
        list-style: disc;
        list-style-position: inside;
      }

      &-ordered-list {
        list-style: decimal;
        list-style-position: inside;
      }

      &-text {
        color: $gray-dark;

        @include main-text;

        &--bold {
          font-weight: 700;
        }

        &--green {
          color: $additional-freshherb-elect;
        }

        &--disc {
          list-style: disc;
        }
      }
    }
  }

  &__additional {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 210px;

    @include on-tablet {
      width: 100%;
    }
  }

  &__sm {
    display: flex;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    align-self: stretch;

    border-radius: 12px;
    background: $background-plate;

    /* Double glass */
    box-shadow:
      0 -4px 16px 0 rgba(255, 255, 255, 0),
      0 4px 16px -6px rgba(255, 255, 255, 0),
      0 8px 32px -4px rgba(0, 0, 0, 0);
    backdrop-filter: blur(15px);

    &-icon {
      color: $additional-black-green;

      @include icon-hover;
    }
  }
}
