.footer {
  display: flex;
  padding: 32px 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  border-radius: 24px 24px 0px 0px;
  background: $additional-black-green;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
  }

  &__logo {
    font-family: Michroma, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    background: linear-gradient(
      225deg,
      #e5a000 0%,
      #fa0 9.83%,
      #ffcf00 47.83%,
      #ffd300 62.33%,
      #fff6c5 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    @include hover(transform, scale(1.05));
  }

  &__columns {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 107px;
    align-self: stretch;
  }

  &__title {
    @include h4-bold;

    color: $gray-white;
  }

  &__list {
    display: flex;
    width: 185px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;

    .footer__link {
      align-self: stretch;
      color: $gray-white;

      @include main-text;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__copyright {
    color: $gray-white;

    @include tab-regular;
  }

  &__sm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 12px;
  }

  &__media {
    width: 24px;
    height: 24px;

    &--tg {
      background-image: url('/images/footer/sharp-telegram.svg');
    }

    &--fb {
      background-image: url('/images/footer/twotone-facebook.svg');
    }

    &--email {
      background-image: url('/images/footer/outline-email.svg');
    }
  }
}
