.exhibitions {
  &__nav-bar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }

  &__crumbs {
    display: flex;
    align-items: center;
    align-self: stretch;
    padding: 8px 4px;

    &-link {
      @include main-text;

      &--inactive {
        color: $gray-dis;
      }

      &--active {
        color: $additional-black-green;
      }
    }

    &-chevron {
      width: 24px;
      height: 24px;
      background-image: url('/images/bread-crumbs/chevron-right.svg');
      margin-left: 4px;
      margin-right: 8px;
    }
  }

  &__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
  }

  &__sections {
    width: 100%;
    &-list {
      display: flex;
      width: 100%;
      height: 58px;
      justify-content: center;
      align-items: center;
    }

    &-item {
      display: flex;
      padding: 16px;
      border-left: 1px solid $gray-stroke;
      justify-content: center;
      align-items: center;
      gap: 8px;
      flex: 1 0 0;
      align-self: stretch;
      border-radius: 12px 0px 0px 12px;
      background: $background-page;
    }
  }
}
