.modal {
  display: flex;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  backdrop-filter: blur(5px);
  opacity: 0;
  visibility: hidden;
  transition: all $effect-duration ease;

  &.isActive {
    opacity: 1;
    visibility: inherit;
  }

  &.secondModal {
    z-index: 3;
  }

  &__background {
    visibility: inherit;
    position: fixed;
    height: 100vh;
    width: 100vw;
    background: $background-sklo-bag;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(5px);

    &.secondModal {
      background-color: transparent;
    }
  }
}
