.crumbs {
  display: flex;
  align-items: center;
  align-self: stretch;
  padding: 8px 4px;

  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  &__link {
    @include main-text;
    white-space: nowrap;
    flex-shrink: 0;

    &--inactive {
      color: $gray-dis;
    }

    &--active {
      color: $additional-black-green;
    }
  }

  &__chevron {
    flex-shrink: 0;
    margin-left: 4px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    background-image: url('/images/bread-crumbs/chevron-right.svg');
  }
}
