.club-hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;

  margin-bottom: 24px;

  &__title {
    @include h1-bold;

    color: $gray-black;

    @include on-tablet {
      @include h2-bold;
    }

    @include on-phone {
      @include h2-mobile-bold;
    }
  }

  &__text {
    @include main-text;
    width: 613px;

    color: $gray-dark;

    @include on-tablet {
      width: 100%;
      max-width: 592px;
    }
  }
}
