.item-evaluation {
  display: flex;
  flex-direction: column;
  gap: 24px;

  @include on-tablet {
    gap: 16px;
  }

  &__h2 {
    @include h2-bold;
    @include on-tablet {
      @include h2-mobile-bold;
    }
    @include on-phone {
      @include h3-bold;
    }
  }

  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      gap: 16px;
    }

    @include on-phone {
      gap: 20px;
    }
  }

  &__card {
    background-color: $gray-white;
    border-radius: 24px;
    border-color: $gray-white;
    box-shadow: $drop-shadow;
    padding: 40px;
    @include on-tablet {
      padding: 24px;
    }
  }
}

.card {
  align-self: center;
  display: flex;
  gap: 32px;
  width: 900px;

  @include on-tablet {
    flex-direction: column;
    gap: 24px;
    width: auto;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 40px;
    flex-grow: 1;

    @include on-tablet {
      gap: 24px;
    }
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__h2 {
    @include h3-bold;
    color: $additional-greenas;

    @include on-phone {
      @include h4-bold;
    }
  }

  &__price {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-h4 {
      @include h4-bold;
      color: $gray-dark;

      @include on-phone {
        @include button-semibold;
      }
    }

    &-text {
      @include main-text;
      color: $freshherb-elect;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__h4 {
    @include h4-bold;
    color: $gray-dark;

    @include on-phone {
      @include button-semibold;
    }
  }

  &__item {
    @include main-text;
    color: $gray-dark;
    display: flex;
    gap: 8px;
    position: relative;
    padding-left: 20px;

    &::before {
      left: 8px;
      top: 10px;
      position: absolute;
      content: '';
      background-color: $gray-dark;
      width: 4px;
      height: 4px;
      border-radius: 100000px;
    }
  }

  &__buttons {
    display: flex;
    gap: 16px;

    @include on-phone {
      gap: 8px;
      flex-direction: column;
    }
  }
  // &__button {
  //   height: 40px;
  //   width: 100%;
  //   border-radius: 12px;
  //   @include button-semibold;
  //   transition: ease all $dropdown-effect-duration;

  //   &.light {
  //     position: relative;
  //     display: inline-block;
  //     color: $additional-black-green;

  //     &:hover::before {
  //       opacity: 0;
  //     }

  //     &:hover {
  //       border: 1px solid $additional-mint;
  //       background: $additional-white-green;
  //     }

  //     &::before {
  //       content: '';
  //       position: absolute;
  //       inset: 0;
  //       padding: 1px;
  //       border-radius: inherit;
  //       background: $primary;
  //       -webkit-mask:
  //         linear-gradient(white 0 0) content-box,
  //         linear-gradient(white 0 0);
  //       -webkit-mask-composite: xor;
  //       mask-composite: exclude;
  //     }

  //     &.isActive {
  //       color: $freshherb-elect;
  //     }
  //   }

  //   &.dark {
  //     background: $primary;
  //     color: $gray-white;

  //     &:hover {
  //       background: $additional-mint;
  //       color: $gray-black;
  //     }

  //     &.isActive {
  //       background: $additional-greenas;
  //       background-image: none;
  //     }
  //   }
  // }

  &__button {
    width: 100%;
    height: 40px;

    @include button-semibold;

    &.dark {
      @include primary-button;
    }

    &.light {
      @include additional-button;
    }
  }

  &__img {
    border-radius: 12px;
    width: 281px;
    object-fit: cover;
    height: auto;

    @include on-tablet {
      width: 100%;
    }
  }
}
