.market-item {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 12px;
  width: 270px;
  background-color: $gray-white;
  overflow: hidden;
  box-shadow: $drop-shadow;
  // border: 1px solid transparent
  // transition: all ease $effect-duration;

  // &:hover {
  //   border: 1px solid transparent;
  //   border-radius: 12px;
  //   background:
  //     linear-gradient(white, white) padding-box,
  //     $primary border-box;
  // }

  @include on-tablet {
    width: 100%;
  }

  &__img {
    box-sizing: border-box;
    width: auto;
    // height: auto;
    // width: 110px;
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
    // height: auto;
    // display: block;
  }

  &__text-info {
    padding: 16px;

    @include on-tablet {
      padding: 8px;
    }
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__text {
    @include main-text;
  }

  &__price-link {
    display: flex;
    justify-content: space-between;
  }

  &__price {
    @include h4-bold;
  }

  &__new {
    @include tab-regular;

    position: absolute;
    // z-index: 999;
    background-color: $additional-fresh-herb-icon;
    border-bottom-right-radius: inherit;
    border-top-left-radius: inherit;
    width: 60px;
    height: 30px;
    color: $gray-white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
