.photos-helper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid $system-info;
  background-color: $gray-white;
  z-index: 3;
  box-sizing: border-box;

  &__icons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__info {
    color: $system-info;
  }

  &__close {
    cursor: pointer;
    color: $gray-black;
  }

  &__text-block {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__title {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__h3 {
    @include h3-bold;
    color: $gray-black;
  }

  &__h4 {
    @include h4-bold;
    color: $gray-dark;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__item {
    position: relative;
    @include main-text;
    color: $gray-dark;
    padding-left: 20px;

    &::before {
      left: 8px;
      top: 10px;
      position: absolute;
      content: '';
      background-color: $gray-dark;
      width: 4px;
      height: 4px;
      border-radius: 100000px;
    }
  }

  &__text {
    @include main-text;
    color: $gray-dark;
  }
}
